body{

	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#wrapper{
	background: #ffffff;
	margin: 60px auto;
	width: 920px;
	height: 1250px;
}

#header{
	background-size: cover;
	background: #d2d0d2;
	height: 200px;
	background-image: url();
	 width: 100%;
 	max-width:1000px;

	background-size: 1000px 200px;
	background-repeat: no-repeat;
	margin-block: -28px;

}

.text{
	padding-top: 80px;
	text-align: center;
	color: black;
}

#navigation{
	background: #2a2a2a2a;
	width: 920px;
	height: 30px;
	background-image: url();
	background-size: 379px 19px;
	word-spacing: 60px;
	letter-spacing: 3px;
	font-size: 27px;
	text-decoration: none;
	margin-block: 1px;
}

.left{
	padding-left: 70px;
}

.left{
	text-decoration: none;
	color: white;

}



}

#menu1{
	background: ;
	float: left;
	width: 200px;
	height: 624px;
	background-image: url();
	background-size: 200px 624px;
}


#content{
	background: #d2d0d2f;
	width: 920px;
	height: 2000px;
	margin-block: -16px;


}

#footer{

    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background:	#0000ff; /* Цвет фона */
    width: 920px;

}

#footer1{

    left: 0; bottom: 20; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background:	#0000ff; /* Цвет фона */
    margin-top: -50px;
	}
#rel{
	font-color: rgba(0, 0, 0, 0);
	font-size: 1px;
}
