body{
	background-image: url(FON_HEADER.JPG);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#wrapper{
	background: #ffffff;
	margin: 60px auto;
	width: 900px;
	height: 1250px;
}

#header{
	background-size: cover;
	background: #d2d0d2;
	height: 200px;
	width: 900px;
	background-image: url();
	
	background-size: 1000px 200px;
	background-repeat: no-repeat;
	margin-block: -28px;

}

.text{
	padding-top: 80px;
	text-align: center;
	color: black;
}

#navigation{
	background: #2a2a2a2a;
	width: 900px;
	height: 30px;
	background-image: url();
	background-size: 379px 19px;
	word-spacing: 125px;
	letter-spacing: 3px;
	font-size: 27px;
	text-decoration: none;
	margin-block: 1px;
}

.left{
	padding-left: 70px;
}

.left{
	text-decoration: none;
	color: white;

}



}

#menu1{
	background: ;
	float: left;
	width: 200px;
	height: 624px;
	background-image: url();
	background-size: 200px 624px;
}


#content{
	background: #d2d0d2;
	width: 900px;
	height: 1035px;
	margin-block: -16px;


}

#footer{
	 position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
}

#rel{
	font-color: rgba(0, 0, 0, 0);
	font-size: 1px;
}







































































